#discardText {
    position: absolute;
    z-index : 3;
    left    : 28px;
}

.ribbonGroup {
    position: absolute;
    z-index : 2;
    left    : 45vw;
    top     : 120px;
}

#discardBanner {
    position: relative;
    z-index : 2
}


@media screen and (max-width: 1400px) {
    .ribbonGroup {
        top: 100px;
    }
}


@media screen and (max-width: 992px) {
    .ribbonGroup {
        top: 70px;
    }
}


@media screen and (max-width: 768px) {
    .ribbonGroup {
        top: 145px;
        left: 26vw;
    }
}

@media screen and (max-width: 500px) {
    #discardText {
        position : absolute;
        font-size: 18px !important;
    }

}