/*-----------------------------------------------
            always desktop definitions, 
              then  mobile definition
 -----------------------------------------------*/

/*------------------- Fonts ------------------ */
body {
    font-family: 'Inter', sans-serif !important;
}

body * {
    text-align: center;
}

.title {
    font-size  : 68px !important;
    color      : white;
    font-weight: 400;
}

.subTitle {
    font-size  : 29px !important;
    color      : white;
    font-weight: 500
}

.text {
    font-size  : 22px !important;
    font-weight: 400;
}

.smallText {
    font-size  : 23px;
    font-weight: 400;
}

.or {
    font-size  : 28px !important;
    font-weight: 700;
}

.blackFont {
    color: black !important;
}

.whiteFont {
    color: white !important;
}

@media screen and (min-width: 1400px) {
    .title {
        font-size  : 82px !important;
        color      : white;
        font-weight: 400;
    }

    .subTitle {
        font-size  : 43px !important;
        color      : white;
        font-weight: 500
    }

    .text {
        font-size  : 29px !important;
        font-weight: 400;
    }

    .smallText {
        font-size  : 29px;
        font-weight: 500;
    }
}

@media screen and (max-width: 992px) {
    .title {
        font-size: 48px !important;
        color    : white;
    }

    .subTitle {
        font-size: 24px !important;
        color    : white
    }

    .text {
        font-size: 22px;
    }

    .or {
        font-size  : 24px !important;
        font-weight: 700;
    }
}

@media screen and (max-width: 405px) {
    .text {
        font-size  : 19px !important;
        font-weight: 500;
    }
}

/*------------------- Colors ------------------ */



.babyYellow {
    background-color: #F2C94C !important;
}

.babyBlue {
    background-color: #56CCF2 !important;
}

.lightBabyYellow {
    background-color: #FBDC8A !important;

}

.white {
    background-color: white !important;
}

.transparentWhite {
    background-color: rgba(255, 255, 255, 0.25);
}

.none {
    background-color: none;
}

.marfim {
    background-color: #F2F2F2 !important;
}

.black {
    color: rgba(0, 0, 0, 0.70);
}

/* ------------------  Text Style --------------*/
.textShadow {
    text-shadow: 2px 1px 2px #363636;
}


/*------------------- widgets -----------------*/
.button {
    color        : white;
    box-shadow   : inset -1px -1px 5px 2px rgba(0, 0, 0, 0.15);
    border-radius: 5% !important;
}

.smallbutton {
    width: 20vw;
}

@media screen and (max-width: 992px) {
    .smallbutton {
        width: 30vw;
    }
}

/*-------------------border --------------------*/
.noBorder {
    border: 0 !important;
}


.grayBorder {
    border-color: rgba(0, 0, 0, 0.2) !important;
}


/*------------------ sizes ----------------*/

.fullHeight {
    min-height: 90vh;
}

.eightyHeight {
    min-height: 80vh;
}

.seventyHeight {
    min-height: 70vh;
}

.sixtyHeight {
    min-height: 60vh;
}

.fourtyFiveHeight {
    height: 45vh;
}

/*------------------- MISC PROPERTIES -----------------*/
.zOne {
    z-index: 1;
}

body {
    overflow-x: hidden;
}