/*-----------------------------------------------
            always desktop definitions, 
              then  mobile definition
 -----------------------------------------------*/

/*------------------- Fonts ------------------ */
body * {
    text-align: center;
}
.title {
    font-size: 72px !important;
    color:white;
}
.subTitle {
    font-size: 25px !important;
    color: white
}
.text {
    font-size: 24px;
}
.or {
    font-size: 28px !important;
    font-weight: 700;
}

.blackFont {
    color: black !important;
}

.whiteFont {
    color: white !important;
}

@media screen and (max-width: 992px) {
    .title {
        font-size: 48px !important;
        color:white;
    }
    .subTitle {
        font-size: 24px !important;
        color: white
    }
    .text {
        font-size: 22px;
    }
    .or {
        font-size: 24px !important;
        font-weight: 700;
    }
}
/*------------------- Colors ------------------ */

.babyYellow {
    background-color: #F2C94C !important;
}
.babyBlue {
    background-color: #56CCF2 !important;
}
.lightBabyYellow {
    background-color: #FBDC8A !important;

}
.white {
    background-color: white !important;
}

.marfim {
    background-color: #F2F2F2 !important;
}
.black {
    font: rgba(0, 0, 0, 0.70);
}

/* ------------------  Text Style --------------*/
.textShadow {            
    text-shadow: 1px 1px 2px #363636;
}


/*------------------- widgets -----------------*/
.button {
    color: white;
    box-shadow: inset -1px -1px 5px 2px rgba(0, 0, 0, 0.15);
}

.smallbutton {
    width: 20vw;
}

@media screen and (max-width: 992px) {
    .smallbutton {
        width: 30vw;
    }
}
/*-------------------border --------------------*/
.noBorder{
    border: 0 !important;
}


.grayBorder {
    border-color: rgba(0, 0, 0, 0.1 );
}


/*------------------ sizes ----------------*/

.fullHeight {
    min-height: 90vh;
}

.eightyHeight {
    min-height: 80vh;
}

.seventyHeight {
    min-height: 70vh;
}

.sixtyHeight {
    min-height: 60vh;
}

.fourtyFiveHeight {
    height: 45vh;
}


/* ----------------  animation ------------------------ */

body {
    overflow-x: hidden; /* Hide vertical scrollbar */
}


@keyframes slideIn {
    from {
        left: -100vw
    }
    to {
        left: 0vw
    }
}

@keyframes slideOut {
    from {
        left: 0vw
    }
    to {
        left: 100vw
    }
}


.hideLeft{
    left: -100vw;
    position: absolute;
    width: 100vw;
}

.slideIn {
    position: absolute;
    width: 100vw;
    -webkit-animation: slideIn 3.0s forwards; /* for less modern browsers */
    animation: slideIn 3.0s forwards;
}

.slideOut{
    position: relative;
    left: 100vw;
    -webkit-animation: slideOut 3.0s forwards; /* for less modern browsers */
    animation: slideOut 3.0s forwards;
}
