/*-----------------------------------------------
            always desktop definitions, 
              then  mobile definition
 -----------------------------------------------*/

/*------------------- Fonts ------------------ */
body * {
    text-align: center;
}
.title {
    font-size: 72px !important;
    color:white;
}
.subTitle {
    font-size: 25px !important;
    color: white
}
.text {
    font-size: 24px;
}
.or {
    font-size: 28px !important;
    font-weight: 700;
}

.blackFont {
    color: black !important;
}

.whiteFont {
    color: white !important;
}

@media screen and (max-width: 992px) {
    .title {
        font-size: 48px !important;
        color:white;
    }
    .subTitle {
        font-size: 24px !important;
        color: white
    }
    .text {
        font-size: 22px;
    }
    .or {
        font-size: 24px !important;
        font-weight: 700;
    }
}
/*------------------- Colors ------------------ */

.babyYellow {
    background-color: #F2C94C !important;
}
.babyBlue {
    background-color: #56CCF2 !important;
}
.lightBabyYellow {
    background-color: #FBDC8A !important;

}
.white {
    background-color: white !important;
}

.marfim {
    background-color: #F2F2F2 !important;
}
.black {
    font: rgba(0, 0, 0, 0.70);
}

/* ------------------  Text Style --------------*/
.textShadow {            
    text-shadow: 1px 1px 2px #363636;
}


/*------------------- widgets -----------------*/
.button {
    color: white;
    box-shadow: inset -1px -1px 5px 2px rgba(0, 0, 0, 0.15);
    border-radius: 5% !important;
}

.smallbutton {
    width: 20vw;
}

@media screen and (max-width: 992px) {
    .smallbutton {
        width: 30vw;
    }
}
/*-------------------border --------------------*/
.noBorder{
    border: 0 !important;
}


.grayBorder {
    border-color: rgba(0, 0, 0, 0.2 ) !important;
}


/*------------------ sizes ----------------*/

.fullHeight {
    min-height: 90vh;
}

.eightyHeight {
    min-height: 80vh;
}

.seventyHeight {
    min-height: 70vh;
}

.sixtyHeight {
    min-height: 60vh;
}

.fourtyFiveHeight {
    height: 45vh;
}


/* ----------------  animation ------------------------ */

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* Left to Right */
@keyframes slideInLR {
    0% {
        left: -100vw;
        position: absolute
    }
    100% {
        left: -1vw;
    }
}

@keyframes slideOutLR {
    0% {
        left: 0vw
    }
    100% {
        left: 100vw;
    }
}


/* Right to Left */

@keyframes slideInRL {
    0% {
        right: -100vw;
        position: absolute;
    }
    100% {
        right: -1vw;
    }
}

@keyframes slideOutRL{
    0% {
        right: 0vw;
        position: absolute;
    }
    100% {
        right: 100vw;
    }
}



.unhide {
    position: relative;
}

.hideLeft {
    left: -100vw;
    position: absolute;
    width: 100vw;
}

.positionHelper {
    position: absolute !important;
    width: 100vw;
}

.zHelper {
    z-index: 10;
}


.hideRight {
    right: -100vw;
    position: absolute;
    width: 100vw;
}

/*  THE ANIMATION TIME IS HARDCODED BELOW AND IN THE MAINPAGE SETTIMEOUT
    FUNCTION! DON'T CHANGE ONE WITHOUT CHANGING THE OTHER                */


.slideInLR {
    width: 100vw;
    -webkit-animation: slideInLR 3.0s forwards; /* for less modern browsers */
    animation: slideInLR 3.0s forwards;
    animation-fill-mode: forwards;  
}

.slideOutLR {
    position: relative;
    left: 100vw;
    -webkit-animation: slideOutLR 3.0s forwards; /* for less modern browsers */
    animation: slideOutLR 3.0s forwards;
    animation-fill-mode: forwards;  
}

.slideInRL {
    width: 100vw;
    -webkit-animation: slideInRL 3.0s forwards; /* for less modern browsers */
    animation: slideInRL 3.0s forwards;
    animation-fill-mode: forwards;  
}

.slideOutRL {
    position: relative;
    -webkit-animation: slideOutRL 3.0s forwards; /* for less modern browsers */
    animation: slideOutRL 3.0s forwards;
    animation-fill-mode: forwards;  
}
