.nav {
  background-color: #fafafa;
  position: sticky !important;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-itens{
  margin-bottom: 0px;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
}

.nav-item:hover {
  color: #007bff;
  cursor: pointer;
}


/* --------- Mobile Full Screen seetings ---------  */
@media screen and (max-width: 992px) {
  .fullscreen {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fadeIn 1s forwards;
  }
  .noscreen {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fadeOut 1s forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
    
  }
}

/* menu full screen prop */
.babyBlue > ul {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0;
}
.babyBlue > ul > li {
  padding: 5vh;
  font-weight:700;
  color:white;
  font-size:32px
}

/* -------- Toggler property -------- */
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
    
}

.close-icon{
  width: 30px;
  height: 30px;
  display: grid;
}

#xIcon{
  margin:auto;
}

